{% extends 'layout/base.html' %}
{% load django_bootstrap5 %}
{% block body %}

<div class="container h-100">
    <h2 class='display-5'>Add New Image</h2>
    <div class="row">
        <div class="col-sm-4">
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% bootstrap_form form %}
                <br>
                {% bootstrap_button button_type='submit' content='Upload' %}
            </form>
        </div>
    </div>
</div>

{% endblock %}