{% extends 'components/base.html' %}
{% block body %}
<!-- account-area-start -->
<div class="account-area mt-70 mb-70" style="float:center;">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="basic-login">
                    <h5>Register</h5>
                    {% if form.errors %}
                    <p>{{form.errors}}</p>
                    {% endif %}
                    <form action="" method="post">
                        {% csrf_token %}
                        {% for field in form %}
                        {{ field.erros }}
                        <p>{{field}}</p>
                        {% endfor %}
                        <div class="login-action mb-10 fix">
                            <p>Your personal data will be used to support your experience throughout this website, to manage access to your account, and for other purposes described in our <a href="#">privacy policy</a>.</p>
                        </div>
                        <button class="tp-in-btn w-100" type="submit">Register</button>
                        <div class="login-action mb-10 fix">
                            <p>Already have an account ? <a href="{% url 'login' %}">Login</a></p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- account-area-end -->

{% endblock %}